In [2]:
import pandas as pd

In [3]:
df=pd.read_csv(r"C:\Users\USER\Documents\My completed data projects\capstone_forbes_global_2000_2025.csv")

In [4]:
df

,Rank,Company,Headquarters,Industry,Revenue ($),Profits ($),Assets ($),Market Value ($)
0,1,JPMorganChase,United States,Banking,2.851100e+11,5.936000e+10,4.357860e+12,6.778000e+11
1,2,Berkshire Hathaway,United States,Insurance,3.714300e+11,8.900000e+10,1.153880e+12,1.145460e+12
2,3,ICBC,China,Banking,2.219600e+11,5.084000e+10,6.688600e+12,2.513300e+11
3,4,Saudi Arabian Oil Company (Saudi Aramco),Saudi Arabia,Oil & Gas Operations,4.801500e+11,1.049700e+11,6.450300e+11,1.663380e+12
4,5,Amazon,United States,Retail and Wholesale,6.379600e+11,5.925000e+10,6.248900e+11,2.005640e+12
...,...,...,...,...,...,...,...,...
1995,"1,996",Dino Polska,Poland,Food Markets,7.360000e+09,3.781000e+08,3.160000e+09,1.384000e+10
1996,"1,997",China Aviation Oil,Singapore,Trading Companies,1.552000e+10,7.840000e+07,1.990000e+09,5.590000e+08
1997,"1,998",Jet2,United Kingdom,Business Services & Supplies,8.790000e+09,6.288000e+08,7.950000e+09,3.930000e+09
1998,"1,998",Keiyo Bank,Japan,Banking,4.740000e+08,9.270000e+07,4.256000e+10,6.790000e+08
1999,"1,998",PT Lippo Karawaci,Indonesia,Construction,7.160000e+08,1.180000e+09,3.340000e+09,3.660000e+08

In [5]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
Revenue ($),2000.0,2.644163e+10,4.792811e+10,-2.147000e+10,6.147500e+09,1.295000e+10,2.570750e+10,6.809900e+11
Profits ($),2000.0,2.435273e+09,6.859681e+09,-2.165000e+10,5.204750e+08,1.010000e+09,2.232500e+09,1.110000e+11
Assets ($),2000.0,1.210873e+11,3.957549e+11,1.810000e+08,1.575500e+10,3.387500e+10,7.882000e+10,6.688600e+12
Market Value ($),2000.0,4.564176e+10,1.545118e+11,1.750000e+08,8.307500e+09,1.720500e+10,3.734750e+10,3.143820e+12

In [6]:
pd.options.display.float_format = '{:,.0f}'.format

In [7]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
Revenue ($),"2,000","26,441,630,000","47,928,105,140","-21,470,000,000","6,147,500,000","12,950,000,000","25,707,500,000","680,990,000,000"
Profits ($),"2,000","2,435,272,700","6,859,680,859","-21,650,000,000","520,475,000","1,010,000,000","2,232,500,000","111,000,000,000"
Assets ($),"2,000","121,087,279,000","395,754,877,960","181,000,000","15,755,000,000","33,875,000,000","78,820,000,000","6,688,600,000,000"
Market Value ($),"2,000","45,641,755,500","154,511,821,005","175,000,000","8,307,500,000","17,205,000,000","37,347,500,000","3,143,820,000,000"

TOP COMPANIES BY METRICS

In [8]:
df[['Rank', 'Company', 'Profits ($)']].sort_values('Profits ($)', ascending=False).head(10)

   Rank                                   Company     Profits ($)
8     9                                  Alphabet 111,000,000,000
3     4  Saudi Arabian Oil Company (Saudi Aramco) 104,970,000,000
10   11                                     Apple  96,150,000,000
9     9                                 Microsoft  92,750,000,000
1     2                        Berkshire Hathaway  89,000,000,000
46   47                                    NVIDIA  72,880,000,000
20   20                            Meta Platforms  62,360,000,000
0     1                             JPMorganChase  59,360,000,000
4     5                                    Amazon  59,250,000,000
2     3                                      ICBC  50,840,000,000

In [9]:
df[['Rank', 'Company', 'Revenue ($)']].sort_values('Revenue ($)', ascending=False).head(10)

   Rank                                   Company     Revenue ($)
17   18                                   Walmart 680,990,000,000
4     5                                    Amazon 637,960,000,000
3     4  Saudi Arabian Oil Company (Saudi Aramco) 480,150,000,000
16   17                        UnitedHealth Group 410,060,000,000
10   11                                     Apple 395,760,000,000
50   51                                   Sinopec 390,070,000,000
27   28                                PetroChina 383,640,000,000
73   74                                CVS Health 372,690,000,000
1     2                        Berkshire Hathaway 371,430,000,000
8     9                                  Alphabet 359,310,000,000

In [10]:
df[['Rank', 'Company', 'Assets ($)']].sort_values('Assets ($)', ascending=False).head(10)

    Rank                     Company        Assets ($)
2      3                        ICBC 6,688,600,000,000
7      8  Agricultural Bank of China 5,923,640,000,000
6      7     China Construction Bank 5,558,260,000,000
11    12               Bank of China 4,855,830,000,000
0      1               JPMorganChase 4,357,860,000,000
362  363                  Fannie Mae 4,349,730,000,000
365  366                 Freddie Mac 3,386,740,000,000
5      6             Bank of America 3,349,420,000,000
14    15               HSBC Holdings 3,017,050,000,000
35    35                 BNP Paribas 2,800,930,000,000

In [11]:
df[['Rank', 'Company', 'Market Value ($)']].sort_values('Market Value ($)', ascending=False).head(10)

   Rank                                   Company  Market Value ($)
10   11                                     Apple 3,143,820,000,000
9     9                                 Microsoft 2,913,010,000,000
46   47                                    NVIDIA 2,708,640,000,000
4     5                                    Amazon 2,005,640,000,000
8     9                                  Alphabet 1,973,640,000,000
3     4  Saudi Arabian Oil Company (Saudi Aramco) 1,663,380,000,000
20   20                            Meta Platforms 1,381,870,000,000
1     2                        Berkshire Hathaway 1,145,460,000,000
68   69                                     Tesla   916,550,000,000
67   68                                  Broadcom   904,230,000,000

INDUSTRY LEVEL ANALYSIS

In [13]:
num_cols = ['Revenue ($)', 'Profits ($)', 'Assets ($)', 'Market Value ($)']

In [14]:
industry_summary = (
    df.groupby('Industry')[num_cols]
      .agg(['mean', 'median', 'sum'])
      .sort_values(('Revenue ($)', 'sum'), ascending=False)
)

industry_summary.head(10)

                                   Revenue ($)                 \
                                          mean         median
Industry
Banking                         19,709,456,790  6,320,000,000
Oil & Gas Operations            56,722,173,913 22,915,000,000
Insurance                       36,620,508,475 16,635,000,000
Consumer Durables               47,701,518,987 26,590,000,000
Retailing                       45,473,544,304 17,660,000,000
Construction                    25,219,588,785 14,170,000,000
IT Software & Services          21,308,956,989  6,750,000,000
Technology Hardware & Equipment 33,755,241,379 16,170,000,000
Food, Drink & Tobacco           21,373,341,176 14,140,000,000
Transportation                  21,121,463,415 12,975,000,000

                                                    Profits ($)                \
                                              sum          mean        median
Industry
Banking                         6,385,864,000,000 3,198,567,284 1,140,000,000
Oil & Gas Operations            5,218,440,000,000 4,306,325,000 1,570,000,000
Insurance                       4,321,220,000,000 3,234,013,559 1,350,000,000
Consumer Durables               3,768,420,000,000 2,202,487,342 1,120,000,000
Retailing                       3,592,410,000,000 1,906,117,722   816,700,000
Construction                    2,698,496,000,000   872,913,084   769,200,000
IT Software & Services          1,981,733,000,000 4,773,312,903 1,230,000,000
Technology Hardware & Equipment 1,957,804,000,000 3,365,512,069 1,080,000,000
Food, Drink & Tobacco           1,816,734,000,000 1,961,608,235 1,120,000,000
Transportation                  1,731,960,000,000 1,695,475,610 1,080,000,000

                                                       Assets ($)  \
                                              sum            mean
Industry
Banking                         1,036,335,800,000 379,841,790,123
Oil & Gas Operations              396,181,900,000  77,079,130,435
Insurance                         381,613,600,000 213,314,661,017
Consumer Durables                 173,996,500,000  68,496,708,861
Retailing                         150,583,300,000  33,108,569,620
Construction                       93,401,700,000  54,701,214,953
IT Software & Services            443,918,100,000  47,487,849,462
Technology Hardware & Equipment   195,199,700,000  37,609,155,172
Food, Drink & Tobacco             166,736,700,000  32,268,470,588
Transportation                    139,029,000,000  30,504,634,146

                                                                     \
                                         median                 sum
Industry
Banking                         103,045,000,000 123,068,740,000,000
Oil & Gas Operations             39,240,000,000   7,091,280,000,000
Insurance                        91,155,000,000  25,171,130,000,000
Consumer Durables                29,510,000,000   5,411,240,000,000
Retailing                        15,290,000,000   2,615,577,000,000
Construction                     34,990,000,000   5,853,030,000,000
IT Software & Services           13,200,000,000   4,416,370,000,000
Technology Hardware & Equipment  17,180,000,000   2,181,331,000,000
Food, Drink & Tobacco            21,470,000,000   2,742,820,000,000
Transportation                   22,070,000,000   2,501,380,000,000

                                Market Value ($)                 \
                                            mean         median
Industry
Banking                           30,495,987,654  9,605,000,000
Oil & Gas Operations              57,686,413,043 18,705,000,000
Insurance                         40,471,898,305 16,470,000,000
Consumer Durables                 37,653,265,823 16,140,000,000
Retailing                         49,470,417,722 14,750,000,000
Construction                      14,828,747,664 10,430,000,000
IT Software & Services           141,885,483,871 39,780,000,000
Technology Hardware & Equipment   90,124,482,759 22,605,000,000
Food, Drink & Tobacco             39,683,529,412 19,540,000,000
Transportation                    22,460,243,902 12,880,000,000


                                               sum
Industry
Banking                          9,880,700,000,000
Oil & Gas Operations             5,307,150,000,000
Insurance                        4,775,684,000,000
Consumer Durables                2,974,608,000,000
Retailing                        3,908,163,000,000
Construction                     1,586,676,000,000
IT Software & Services          13,195,350,000,000
Technology Hardware & Equipment  5,227,220,000,000
Food, Drink & Tobacco            3,373,100,000,000
Transportation                   1,841,740,000,000

In [20]:
industry_summary = (
    df.groupby('Industry')['Profits ($)']
      .agg(['mean', 'median', 'sum'])
      .sort_values(( 'sum'), ascending=False)
)

industry_summary.head(10)

                                         mean        median               sum
Industry
Banking                         3,198,567,284 1,140,000,000 1,036,335,800,000
IT Software & Services          4,773,312,903 1,230,000,000   443,918,100,000
Oil & Gas Operations            4,306,325,000 1,570,000,000   396,181,900,000
Insurance                       3,234,013,559 1,350,000,000   381,613,600,000
Diversified Financials          1,622,091,729   848,900,000   215,738,200,000
Technology Hardware & Equipment 3,365,512,069 1,080,000,000   195,199,700,000
Drugs & Biotechnology           3,240,285,965 1,370,000,000   184,696,300,000
Semiconductors                  5,458,121,875 1,380,000,000   174,659,900,000
Consumer Durables               2,202,487,342 1,120,000,000   173,996,500,000
Food, Drink & Tobacco           1,961,608,235 1,120,000,000   166,736,700,000

In [21]:
industry_summary = (
    df.groupby('Industry')['Revenue ($)']
      .agg(['mean', 'median', 'sum'])
      .sort_values(( 'sum'), ascending=False)
)

industry_summary.head(10)

,mean,median,sum
Industry,,,
Banking,"19,709,456,790","6,320,000,000","6,385,864,000,000"
Oil & Gas Operations,"56,722,173,913","22,915,000,000","5,218,440,000,000"
Insurance,"36,620,508,475","16,635,000,000","4,321,220,000,000"
Consumer Durables,"47,701,518,987","26,590,000,000","3,768,420,000,000"
Retailing,"45,473,544,304","17,660,000,000","3,592,410,000,000"
Construction,"25,219,588,785","14,170,000,000","2,698,496,000,000"
IT Software & Services,"21,308,956,989","6,750,000,000","1,981,733,000,000"
Technology Hardware & Equipment,"33,755,241,379","16,170,000,000","1,957,804,000,000"
"Food, Drink & Tobacco","21,373,341,176","14,140,000,000","1,816,734,000,000"
Transportation,"21,121,463,415","12,975,000,000","1,731,960,000,000"

In [22]:
industry_summary = (
    df.groupby('Industry')['Assets ($)']
      .agg(['mean', 'median', 'sum'])
      .sort_values(( 'sum'), ascending=False)
)

industry_summary.head(10)

,mean,median,sum
Industry,,,
Banking,"379,841,790,123","103,045,000,000","123,068,740,000,000"
Insurance,"213,314,661,017","91,155,000,000","25,171,130,000,000"
Diversified Financials,"140,851,428,571","49,130,000,000","18,733,240,000,000"
Business Services & Supplies,"158,214,974,026","20,960,000,000","12,182,553,000,000"
Oil & Gas Operations,"77,079,130,435","39,240,000,000","7,091,280,000,000"
Construction,"54,701,214,953","34,990,000,000","5,853,030,000,000"
Utilities,"56,826,562,500","43,605,000,000","5,455,350,000,000"
Consumer Durables,"68,496,708,861","29,510,000,000","5,411,240,000,000"
IT Software & Services,"47,487,849,462","13,200,000,000","4,416,370,000,000"
Telecommunications Services,"85,165,348,837","42,750,000,000","3,662,110,000,000"

In [24]:
industry_summary = (
    df.groupby('Industry')['Market Value ($)']
      .agg(['mean', 'median', 'sum'])
      .sort_values(( 'sum'), ascending=False)
)

industry_summary.head(10)

,mean,median,sum
Industry,,,
IT Software & Services,"141,885,483,871","39,780,000,000","13,195,350,000,000"
Banking,"30,495,987,654","9,605,000,000","9,880,700,000,000"
Semiconductors,"188,150,312,500","43,785,000,000","6,020,810,000,000"
Oil & Gas Operations,"57,686,413,043","18,705,000,000","5,307,150,000,000"
Technology Hardware & Equipment,"90,124,482,759","22,605,000,000","5,227,220,000,000"
Drugs & Biotechnology,"85,190,298,246","32,720,000,000","4,855,847,000,000"
Insurance,"40,471,898,305","16,470,000,000","4,775,684,000,000"
Retailing,"49,470,417,722","14,750,000,000","3,908,163,000,000"
Diversified Financials,"28,754,842,105","14,090,000,000","3,824,394,000,000"
"Food, Drink & Tobacco","39,683,529,412","19,540,000,000","3,373,100,000,000"

COUNTRY / HEADQUARTER ANALYSIS

In [30]:
country_summary = (
    df.groupby('Headquarters')[num_cols]
      .sum()
      .sort_values('Revenue ($)', ascending=False)
)

country_summary.head(10)

,Revenue ($),Profits ($),Assets ($),Market Value ($)
Headquarters,,,,
United States,"19,496,513,000,000","2,024,045,400,000","61,089,901,000,000","50,221,953,000,000"
China,"7,810,667,000,000","654,534,800,000","57,413,477,000,000","7,100,978,000,000"
Japan,"4,239,706,000,000","297,126,000,000","20,108,550,000,000","4,094,188,000,000"
Germany,"2,262,260,000,000","94,858,500,000","7,213,650,000,000","2,095,049,000,000"
United Kingdom,"2,134,903,000,000","164,134,400,000","13,782,580,000,000","2,851,650,000,000"
France,"2,020,750,000,000","134,876,600,000","10,157,930,000,000","2,705,740,000,000"
South Korea,"1,686,130,000,000","102,539,100,000","5,366,420,000,000","850,405,000,000"
Canada,"1,323,090,000,000","114,130,200,000","9,707,030,000,000","2,222,060,000,000"
India,"1,316,251,000,000","126,281,000,000","5,456,487,000,000","2,349,895,000,000"
Switzerland,"1,124,732,000,000","119,642,300,000","5,165,320,000,000","2,057,312,000,000"

In [25]:
country_grouped = df.groupby('Headquarters')[num_cols].sum()

for col in num_cols:
    print(f"\nTop 10 Headquarters by {col}")
    display(
        country_grouped.sort_values(col, ascending=False).head(10)
    )

Top 10 Headquarters by Revenue ($)

,Revenue ($),Profits ($),Assets ($),Market Value ($)
Headquarters,,,,
United States,"19,496,513,000,000","2,024,045,400,000","61,089,901,000,000","50,221,953,000,000"
China,"7,810,667,000,000","654,534,800,000","57,413,477,000,000","7,100,978,000,000"
Japan,"4,239,706,000,000","297,126,000,000","20,108,550,000,000","4,094,188,000,000"
Germany,"2,262,260,000,000","94,858,500,000","7,213,650,000,000","2,095,049,000,000"
United Kingdom,"2,134,903,000,000","164,134,400,000","13,782,580,000,000","2,851,650,000,000"
France,"2,020,750,000,000","134,876,600,000","10,157,930,000,000","2,705,740,000,000"
South Korea,"1,686,130,000,000","102,539,100,000","5,366,420,000,000","850,405,000,000"
Canada,"1,323,090,000,000","114,130,200,000","9,707,030,000,000","2,222,060,000,000"
India,"1,316,251,000,000","126,281,000,000","5,456,487,000,000","2,349,895,000,000"
Switzerland,"1,124,732,000,000","119,642,300,000","5,165,320,000,000","2,057,312,000,000"

Top 10 Headquarters by Profits ($)

,Revenue ($),Profits ($),Assets ($),Market Value ($)
Headquarters,,,,
United States,"19,496,513,000,000","2,024,045,400,000","61,089,901,000,000","50,221,953,000,000"
China,"7,810,667,000,000","654,534,800,000","57,413,477,000,000","7,100,978,000,000"
Japan,"4,239,706,000,000","297,126,000,000","20,108,550,000,000","4,094,188,000,000"
United Kingdom,"2,134,903,000,000","164,134,400,000","13,782,580,000,000","2,851,650,000,000"
Saudi Arabia,"623,600,000,000","135,798,200,000","2,030,950,000,000","2,198,560,000,000"
France,"2,020,750,000,000","134,876,600,000","10,157,930,000,000","2,705,740,000,000"
India,"1,316,251,000,000","126,281,000,000","5,456,487,000,000","2,349,895,000,000"
Switzerland,"1,124,732,000,000","119,642,300,000","5,165,320,000,000","2,057,312,000,000"
Canada,"1,323,090,000,000","114,130,200,000","9,707,030,000,000","2,222,060,000,000"
South Korea,"1,686,130,000,000","102,539,100,000","5,366,420,000,000","850,405,000,000"

Top 10 Headquarters by Assets ($)

,Revenue ($),Profits ($),Assets ($),Market Value ($)
Headquarters,,,,
United States,"19,496,513,000,000","2,024,045,400,000","61,089,901,000,000","50,221,953,000,000"
China,"7,810,667,000,000","654,534,800,000","57,413,477,000,000","7,100,978,000,000"
Japan,"4,239,706,000,000","297,126,000,000","20,108,550,000,000","4,094,188,000,000"
United Kingdom,"2,134,903,000,000","164,134,400,000","13,782,580,000,000","2,851,650,000,000"
France,"2,020,750,000,000","134,876,600,000","10,157,930,000,000","2,705,740,000,000"
Canada,"1,323,090,000,000","114,130,200,000","9,707,030,000,000","2,222,060,000,000"
Germany,"2,262,260,000,000","94,858,500,000","7,213,650,000,000","2,095,049,000,000"
India,"1,316,251,000,000","126,281,000,000","5,456,487,000,000","2,349,895,000,000"
South Korea,"1,686,130,000,000","102,539,100,000","5,366,420,000,000","850,405,000,000"
Switzerland,"1,124,732,000,000","119,642,300,000","5,165,320,000,000","2,057,312,000,000"

Top 10 Headquarters by Market Value ($)

,Revenue ($),Profits ($),Assets ($),Market Value ($)
Headquarters,,,,
United States,"19,496,513,000,000","2,024,045,400,000","61,089,901,000,000","50,221,953,000,000"
China,"7,810,667,000,000","654,534,800,000","57,413,477,000,000","7,100,978,000,000"
Japan,"4,239,706,000,000","297,126,000,000","20,108,550,000,000","4,094,188,000,000"
United Kingdom,"2,134,903,000,000","164,134,400,000","13,782,580,000,000","2,851,650,000,000"
France,"2,020,750,000,000","134,876,600,000","10,157,930,000,000","2,705,740,000,000"
India,"1,316,251,000,000","126,281,000,000","5,456,487,000,000","2,349,895,000,000"
Canada,"1,323,090,000,000","114,130,200,000","9,707,030,000,000","2,222,060,000,000"
Saudi Arabia,"623,600,000,000","135,798,200,000","2,030,950,000,000","2,198,560,000,000"
Germany,"2,262,260,000,000","94,858,500,000","7,213,650,000,000","2,095,049,000,000"
Switzerland,"1,124,732,000,000","119,642,300,000","5,165,320,000,000","2,057,312,000,000"

In [31]:
df[num_cols].corr()

                  Revenue ($)  Profits ($)  Assets ($)  Market Value ($)
Revenue ($)                 1            1           0                 1
Profits ($)                 1            1           0                 1
Assets ($)                  0            0           1                 0
Market Value ($)            1            1           0                 1

OUTLIER DETECTION

In [33]:
df[num_cols].quantile([0.01, 0.99])

      Revenue ($)    Profits ($)        Assets ($)  Market Value ($)
0     786,940,000 -1,661,600,000     2,749,600,000       633,780,000
1 244,554,200,000 24,673,200,000 1,816,784,700,000   388,811,900,000